.form  td {
	border: 1px solid #ccc;
}

.form  .label {
	border: 1px solid #ccc;
	background: #E0ECFF;
	text-align: right;
	width: 100px;
	
}

.form .validate {
	border: 1px solid #ccc;
	text-align: left;
	width: 200px;
	color: red;
}

/* .form .error {
	color: red;
} */