<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE sqlMap 
    PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" 
    "http://www.ibatis.com/dtd/sql-map-2.dtd">

<sqlMap namespace="permission">
	<typeAlias alias="User" type="com.audit.entity.User" />
	<typeAlias alias="Module" type="com.audit.entity.Module" />
	<select id="getPermission" parameterClass="User" resultClass="Module">
		select m.url+f.method as url from sys_module m,sys_function f
		RIGHT
		JOIN sys_userinfo u on u.id = #id#
		RIGHT JOIN sys_roleuser ru on u.id =
		ru.userid
		RIGHT JOIN sys_role r on r.id = ru.roleid
		RIGHT JOIN
		sys_rolemodulefun rmf on rmf.roleid = r.id
		RIGHT JOIN sys_modulefun mf
		on mf.id =rmf.modulefunid
		where mf.functionid = f.id
		and mf.moduleid =
		m.id
		and u.state = 0
		and r.state = 0
		and f.state = 0
		and m.state = 0
		order
		by url desc
		<!-- select m.url+f.method as url from sys_userinfo u, sys_roleuser ru, 
			sys_role r, sys_rolemodulefun rmf, sys_modulefun mf, sys_module m, sys_function 
			f where u.id = #id# and u.id = ru.userid and ru.roleid =r.id and r.id = rmf.roleid 
			and rmf.modulefunid = mf.id and mf.moduleid =m.id and mf.functionid = f.id 
			order by url desc -->
	</select>

	<!-- 分页查询 -->
	<select id="getModuleByIndexCount" parameterClass="com.audit.entity.system.ModuleParam"
		resultClass="com.audit.entity.system.ModuleResult">
		SELECT top $pagesize$ moduleId,
		moduleName ,
		menuId,
		menuName,
		remark,
		state,
		createtime,
		url
		FROM (select
		t1.id as moduleId,
		t1.moduleName as moduleName,
		t1.state as state,
		t1.menuId as menuId,
		t2.menuName as menuName ,
		t1.remark as remark,
		t1.url as url,
		t1.createtime as createtime
		FROM sys_module t1
		LEFT JOIN
		dbo.sys_menu t2
		ON t1.menuId = t2.id
		where 1=1
		<isNotEmpty prepend="AND" property="moduleName">
			modulename like
			'%$moduleName$%'
		</isNotEmpty>
		) t3
		WHERE (moduleId NOT IN(
		select top <![CDATA[($pagesize$*$pageno$)]]>
		t1.id as moduleId
		FROM sys_module t1
		LEFT JOIN dbo.sys_menu t2
		ON
		t1.menuId = t2.id
		where 1=1
		<isNotEmpty prepend="AND" property="moduleName">
			modulename like
			'%$moduleName$%'
		</isNotEmpty>
		<dynamic prepend="order by">
			<isNotEmpty property="filed">
				$filed$ $sort$
	          </isNotEmpty>
		</dynamic>
		<isEmpty property="filed">
			order by t1.id desc
	    </isEmpty>
		))
		<dynamic prepend="order by">
			<isNotEmpty property="filed">
				$filed$ $sort$
	          </isNotEmpty>
		</dynamic>
		<isEmpty property="filed">
			order by moduleId desc
		      </isEmpty>
	</select>

	<!-- 获取总数 -->
	<select id="getModuleCount" parameterClass="com.audit.entity.system.ModuleParam"
		resultClass="java.lang.Integer">
		SELECT count(1)
		FROM sys_module t1
		LEFT JOIN dbo.sys_menu t2
		ON t1.menuId
		= t2.id where 1=1
		<isNotEmpty prepend="AND" property="moduleName">
			modulename like
			'%$moduleName$%'
		</isNotEmpty>
	</select>

	<select id="getModuleMenus" parameterClass="java.lang.String"
		resultClass="com.audit.entity.Menu">
		SELECT
		t1.id,
		t1.menuName
		FROM dbo.sys_menu t1
		WHERE t1.pid =
		#topMenuId#
	</select>

	<select id="moduleMaxID" resultClass="java.lang.Integer">
		Select max(SUBSTRING
		(id,2,len(id)))from dbo.sys_module
	</select>

	<insert id="addModule" parameterClass="com.audit.entity.system.ModuleParam">
		INSERT INTO dbo.sys_module
		(id
		,modulename
		,url
		,menuId
		,state
		,createtime
		,remark
		)
		VALUES
		(
		#moduleId#
		,#moduleName#
		,#url#
		,#menuId#
		,#state#
		,GETDATE()
		,#remark#
		)
	</insert>

	<select id="getModuleInfoById" parameterClass="java.lang.String"
		resultClass="com.audit.entity.system.ModuleResult">
		SELECT t1.id as moduleId,
		t1.modulename as moduleName ,
		t1.menuId as menuId,
		t2.menuName as menuName,
		t1.remark as remark,
		t1.state as state,
		t1.url as url,
		t3.id as topMenuId,
		t1.createtime as
		createtime
		FROM dbo.sys_module t1
		LEFT JOIN dbo.sys_menu t2
		ON t1.menuId
		= t2.id
		LEFT JOIN dbo.sys_menu t3
		ON t2.pid = t3.id
		WHERE t1.id = #id#
	</select>

	<!-- 更新模块信息 -->
	<update id="updateModule" parameterClass="com.audit.entity.system.ModuleParam">
		UPDATE dbo.sys_module
		SET createtime = GETDATE()
		,modulename = #moduleName#
		,url = #url#
		,menuId = #menuId#
		,state = #state#
		,remark = #remark#
		WHERE id =
		#moduleId#
	</update>

	<!-- 注销模块 -->
	<update id="destroyModule" parameterClass="com.audit.entity.system.ModuleParam">
		UPDATE dbo.sys_module
		SET createtime = GETDATE()
		,state = #state#
		WHERE id = #moduleId#
	</update>

	<!-- 删除模块信息 -->
	<delete id="deleteModule" parameterClass="java.lang.String">
		DELETE FROM
		dbo.sys_module WHERE id = #id#
	</delete>

	<select id="checkModuleImpower" parameterClass="com.audit.entity.ModuleFun"
		resultClass="java.lang.Integer">
		SELECT Count(1) FROM dbo.sys_modulefun
		WHERE moduleid =
		#moduleId# AND functionid = #functionId#
	</select>

	<select id="getMaxModuleFunctionId" resultClass="java.lang.Integer">
		Select
		max(SUBSTRING
		(id,3,len(id)))from dbo.sys_modulefun
    </select>

	<insert id="addModuleFunctionImpower" parameterClass="com.audit.entity.ModuleFun">
		INSERT INTO
		dbo.sys_modulefun
		(id
		,moduleid
		,functionid)
		VALUES
		(#id#
		,#moduleId#
		,#functionId#)
	</insert>

	<delete id="delectModuleFunctionImpower" parameterClass="com.audit.entity.ModuleFun">
		DELETE
		FROM dbo.sys_modulefun
		WHERE moduleid = #moduleId# AND functionid =
		#functionId#
	</delete>

	<select id="getModuleBySubMenuId" parameterClass="java.lang.String"
		resultClass="com.audit.entity.ComboboxJson">
		SELECT id as id, modulename as text FROM dbo.sys_module
		Where menuId =
		#menuId#
	</select>

	<delete id="deleteModulefunByModuleid" parameterClass="java.lang.String">
		DELETE FROM
		dbo.sys_modulefun WHERE moduleid = #moduleid#
    </delete>
</sqlMap>

