<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
                        http://www.springframework.org/schema/mvc   
                        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id="propertyConfigurer" class="com.audit.common.PropertiesGetValue">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:/jdbc.properties</value>
				<value>classpath:/promptMessage.properties</value>
				<value>classpath:/pageTitle.properties</value>
				<value>classpath:/systemMessage.properties</value>
				<value>classpath:/flowConfiguration.properties</value>
				<value>classpath:/fileTemplateName.properties</value>
			</list>
		</property>
	</bean>

	<!-- 自动扫描 -->
	<context:component-scan base-package="com.audit" />

	<!-- 启动SpringMVC的注解功能 -->
	<mvc:annotation-driven />

	<mvc:resources mapping="/**" location="/" order="2147483647" />

	<!-- 页面标签 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="pageTitle" />
	</bean>

	<!-- 【配置视图解析器】 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 获取本地 -->
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver" />


	<!--定义异常处理页面 -->
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.sql.SQLException">/login/exception</prop>
				<prop key="java.io.IOException">/login/exception</prop>
			</props>
		</property>
	</bean>

</beans>

