.form {
	border: 1px solid #ccc;
	margin-left: 5px;
}

.form  .labelbase {
	border: 1px solid #ccc;
	background: #E1ECEF;
	text-align: left;
	width: 20%;
}

.form  .label {
	border: 1px solid #ccc;
	background: #E0ECFF;
	text-align: right;
	width: 20%;
}

.form  .showLabel {
	border: 1px solid #ccc;
	background: #CCEEFF;
	text-align: right;
	width: 20%;
}

.form .validate {
	border: 1px solid #ccc;
	text-align: left;
	width: 200px;
	color: red;
}

.classtd {
	border: 1px solid #ccc;
	width: 30%;
}

.form tbody td {
	border: 1px solid #ccc;
}